---
import Base from '../layouts/Base.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'
---

<Base>
  <Nav />
  <main id="top">
    <Hero />
  </main>
  <Footer />
</Base>
