name: Reusable

on:
  workflow_call:
    inputs:
      job-type:
        required: true
        type: string

env:
  CLICKHOUSE_HOST: http://localhost:8123
  CLICKHOST_USER: default
  CLICKHOST_PASS: ""

permissions:
  contents: read
  id-token: write

jobs:
  job:
    name: ${{ inputs.job-type }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        clickhouse: [24.5, 24.6]

    services:
      clickhouse:
        image: ghcr.io/duyet/docker-images:clickhouse_${{ matrix.clickhouse}}
        ports:
          - 8123:8123
          - 9000:9000
        options: >-
          --health-cmd "wget --no-verbose --tries=1 --spider http://localhost:8123/?query=SELECT%201 || exit 1"
          --health-interval 30s
          --health-timeout 10s
          --health-retries 5
          --health-start-period 30s

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json', '**/yarn.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json', '**/yarn.lock') }}-

      - name: Install dependencies
        run: yarn install

      - name: Lint
        if: ${{ inputs.job-type == 'lint' }}
        run: yarn lint

      - name: Build App
        if: ${{ inputs.job-type == 'build' }}
        run: yarn build
