name: Image build and Push

on:
  push:
    branches:
      - main
  release:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: build
    uses: ./.github/workflows/base.yml
    with:
      job-type: build

  lint:
    name: lint
    uses: ./.github/workflows/base.yml
    with:
      job-type: lint

  build-docker:
    name: build-docker
    uses: ./.github/workflows/base.yml
    with:
      job-type: docker
      clickhouse-versions: '["25.1"]'
      platforms: linux/amd64,linux/arm64
      push-image: true
      cache-scope: buildkit

  validate-docker:
    name: validate-docker
    uses: ./.github/workflows/base.yml
    with:
      job-type: docker
      clickhouse-versions: '["24.5"]'
      platforms: linux/amd64
      load-image: true
      test-container: true
      cache-scope: buildkit
